nav {
  a {
    color: $dark_color;
    font-size: 18px;
    font-weight: 500;
    &:hover {
      color: $main_color;
    }
  }
  button {
    background-color: $main_color !important;
    border: none !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    padding: 10px 20px !important;
    color: $white_color;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  right: -100px;
  width: 350px;
  height: 100vh;
  z-index: 999;
  background-color: $white_color;
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
  .side_cross {
    display: flex;
    justify-content: end;
  }
  ul {
    li {
      a {
        color: $dark_color;
        font-size: 18px;
        font-weight: 500;
        line-height: 50px;
        &:hover {
          color: $main_color;
        }
      }
    }
  }
  button {
    background-color: $main_color !important;
    border: none !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    padding: 10px 15px !important;
    color: $white_color;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
.stickyBar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white_color;
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.75);
  z-index: 999;
  animation: stickyNav 1s;
  -webkit-animation: stickyNav 1s;
}
@keyframes stickyNav {
  0% {
    top: -80%;
  }
  100% {
    top: 0;
  }
}
